.forpage{text-align: right;margin-top: 10px;}
.buildlist_0{width: 150px;margin: 0px;padding: 0;position: absolute;}
.buildlist_0 input{height: 32px;}
.buildlist_1{width: 150px;margin-left: 160px;padding: 0;position: absolute;}
.buildlist_1 input{height: 32px;}
.buildlist_2{width: 150px;height: 32px;margin-left: 320px;float: left;}
.buildlist_3{width: 150px;height: 32px;margin-left: 10px;float: left;}
.buildlist_4{margin-left: 10px;}